<h1><%= t(:name_application, scope: %i[_dictionary]) %></h1>

<h2><%= t(:welcome_home_application, scope: %i[_dictionary]) %></h2>

<p><%= link_to t(:sign_up, scope: %i[devise registrations new]), new_user_registration_path %></p>